<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff' >
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6"  ng-controller='TobuyCtrl as list1' >
     <h2>To Buy:</h2>
      
     <input type="text" placeholder="Item name" ng-model="list1.itemName" >
      <input type="text" ng-model="list1.itemQuantity" placeholder="Quantity">
      <button ng-click="list1.addItem();">Add Item</button>
      
     <ol>
        <li ng-repeat="item in list1.items">
          {{ item.quantity }} of {{ item.name  }}
          <button ng-click="list1.boughtItem(item,$index);">Bought</button>
        </li>
      </ol>
     <div class="emptyMessage" ng-if = "!list1.items.length">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyboughtCtrl as list2' >
     <h2>Already Bought:</h2>
     <ol>
        <li ng-repeat="item in list2.items">
          {{ item.quantity }} of {{ item.name }}
          
        </li>
      </ol>
     <div class="emptyMessage" ng-if = "!list2.items.length">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
